html,

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

#content {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
#mynetwork {
  width: 100%;
  height: 100%;
  border: 1px solid #102b6a;
  margin-top: 4px;
}


h1 {
  /* position: fixed;
  left: 0;
  top: 0; */
  width: 100%;
  font-size: 2em;
  text-align: center;
  /* padding: 10px; */
  /* height: 40px; */
  line-height: 40px;
  background: #000000;
  color: #ffffff;
  /* text-align: center; */
}


#test_btn1{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right:-4px;
}
#test_btn2{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;    
  margin-left:-3px;
}
#btn_group button{
  border: 1px solid #102b6a;
  background-color: rgba(0,0,0,0);
  color: #102b6a;
  padding: 5px;
}
#btn_group button:hover{
  color:white;
  background-color: skyblue;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 720px;
  /* padding: 20px; */
  background: #ffffff;
}

/* Small screens */
@media all and (max-width: 767px) {
  .flex {
    height: auto;
    padding: 0;
  }
}


/* Small screens */
@media all and (max-width: 767px) {
  .video-container {
    height: auto;
  }
  .video-container .video {
    width: 100%;
  }
  .video-container .subtitle {
    width: 100%;
    height: 200px;
  }
}

.task-container h2 {
  padding: 50px 0 20px;
  color: #404040;
  text-align: center;
}

.task-container h2::before, .task-container h2::after {
  content: '-';
  padding: 0 10px;
}

.task-container .task-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task-container .task-choice a {
  display: block;
  width: 49%;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.task-container .task-choice a.link-task1 {
  background: #ffc990;
}

.task-container .task-choice a.link-task2 {
  background: rgb(241, 235, 210);
  
  
}

.task-container .task-choice dt {
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: 10px;
}

.task-container .task-choice dd {
  line-height: 1.5;
}

@media all and (max-width: 765px) {
  .task-container .task-choice a {
    width: 100%;
    margin-bottom: 10px;
  }
}

#chat-container {
  position: relative;
  /* width: 50%; */
  height: 100%;
  /* padding: 20px 10px 20px 20px; */
  
  
}

.chat-thread {
  height: calc(100% - 50px);
  margin: auto;
  padding: 0 20px 0 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-list {
  overflow: hidden;
}

.chat-list li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 40px 16px 20px;
  margin: 0 0 20px 0;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}

/* Chat - Avatar */
.chat-list li .material-icons {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2.5em;
  color: #ffffff;
  content: '';
}

/* Chat - Speech Bubble Arrow */
.chat-list li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
}

.chat-list li.me {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 80px;
  background: #ffffff;
  color: black;
}

.chat-list li.me .material-icons {
  right: -80px;
}

.chat-list li.me:after {
  border-top: 15px solid #ffffff;
  border-right: 15px solid transparent;
  right: -15px;
}

.chat-list li.chatbot {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 60px;
  background: #ffc990;
  color: black;
}

.chat-list li.chatbot .material-icons {
  left: -80px;
}

.chat-list li.chatbot:after {
  border-top: 15px solid #ffc990;
  border-left: 15px solid transparent;
  left: -15px;
}

.question-choice {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 70px;
  width: 80%;
  border: 2px solid black;
}

.question-choice button {
  width: 100%;
  background: #ffc990;
  color: #ffc990;
  border: none;
  padding: 10px;
  text-align: left;
}

.question-choice button + button {
  border-top: 1px solid black;
}

.chat-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.chat-input input {
  width: calc(100% - 70px);
  height: 40px;
  padding: 0 10px;
  border: none;
}

.chat-input button {
  width: 70px;
  height: 40px;
  border: none;
  background: #ffc990;
  color: black;
  cursor: pointer;
}

/* Small screens */
@media all and (max-width: 767px) {
  .chat-container {
    width: 100%;
    height: 500px;
  }
}

@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}

@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}

.gallery-container {
  width: 50%;
  border: 1px solid #A6A6A6;
  height: 100%;
  padding: 10px 10px 10px 10px;
}

.gallery-container .scroll-area {
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  line-height: 1.5;
}

.gallery-container .img-area img {
  display: block;
  width: 100%;
}

.gallery-container .description {
  height: 300px;
}

.gallery-container .description .title {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 0;
}

.gallery-container .description ul {
  padding: 20px;
}

/* Small screens */
@media all and (max-width: 767px) {
  .gallery-container {
    width: 100%;
  }
  .gallery-container .scroll-area {
    padding: 0;
  }
  .gallery-container .description {
    height: auto;
  }
}

.problem-container {
  width: 50%;
  padding-right: 20px;
}

.problem-container h2 {
  padding: 20px 0;
  color: #ffc990;
}

.problem-container .problem {
  padding: 20px;
  margin-bottom: 20px;
  background: #ffc990;
  color: #ffffff;
}

.problem-container .answer {
  width: 100%;
  height: 40px;
  padding: 0 10px;
}

/* Small screens */
@media all and (max-width: 767px) {
  .problem-container {
    width: 100%;
    padding: 20px;
  }
}

