<!DOCTYPE html>
<html lang="en">

<head>
  <title>Network</title>
  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
</head>

<body id="mybody" style="background-color: rgb(241, 235, 210);">

<!-- 버튼 -->
  <div id="btn_group" style="margin-top: 5px;">
    <button id="test_btn1">자주 묻는 질문</button>
    <button onclick="video_start()" id="test_btn2">수어 해설</button>
    <button id="background_change">배경색 변경</button>
  </div>
  
    <div style="width:69%; height:92%; float:left;">
      <div id="mynetwork"></div>    
    </div>

    <div id="mychatcontainer" style="width: 30%; height:92%; float:right; border: 1px solid #102b6a; margin-top: 4px;">
      <article id="chat-container">
        <div class="chat-thread">
          <ul class="chat-list">
            <li class="chatbot">
              <span class="material-icons" style="color:black;">smart_toy</span>
              모르는 단어를 검색하세요!
            </li>
          </ul>
        </div>
        <div class="chat-input">
          <input type="text" id="question-text" placeholder="질문을 입력하세요.">
          <button id="btn-question">질문하기</button>
        </div>
      </article>
    </div>

    <script type="text/javascript">
      var DIR = "img/soft-scraps-icons/";
      
      var nodes = null;
      var edges = null;
      var network = null;
      
      var parentContainer = document.getElementById("mybody");

      function video_start() {
        document.getElementById("video_obj").play();
      }

      // Called when the Visualization API is loaded.
      function draw() {
        var DATA = "../static/datasets/배재.json";
        fetch(DATA)
          .then((res) => res.json())
          .then((res) => {
            var node_list = res.nodes;
            var edge_list = res.links;
            nodes = new vis.DataSet(node_list);
            edges = new vis.DataSet(edge_list);

            function find_nodeObj(nodeId) {
              return node_list.find(x => x.id == nodeId);   // 인접한 노드 찾기
            }
            function find_toEdgeObj(fromid) {
              return edge_list.filter(x => x.from == fromid);
            }

            var container = document.getElementById("mynetwork");
            var data = {
              nodes: nodes,
              edges: edges,
            };
            var options = {
              nodes: {
                borderWidth: 2,
                size: 100,
                color: {
                  border: "#a09991",
                  background: "#eae8e6",
                  highlight: {
                    border: '#d6acd6',
                    background: '#eae8e6'
                    
                  },
                  hover: {
                    border: '#efdfef',
                    background: '#efdfef'
                  },
                },
                
                font: { 
                  color: "#000000",
                  size: 60, 
                  multi:true,
          
                  
                },             
              },
              edges: {
                value: 1000,
                arrows: {
                  to: {
                    enabled: false,
                    scaleFactor: 1,
                    type: "arrow"
                  }
                },
                endPointOffset: {
                  from: 0,
                  to: 0
                },
                color: {
                  color: '#848484',
                  highlight: '#e7cee7',
                  hover: '#debdde',
                  inherit: 'from',
                  opacity: 1.0
                }, 
                font: {
                  multi:true,
                  color: '#fcfcfc',
                  size: 14, // px
                  face: 'arial',
                  background: 'none',
                  strokeWidth: 1, // px
                  strokeColor: '#ffffff',
                  align: 'horizontal',
                  vadjust: 0,
                  bold: {
                    color: '#fcfcfc',
                    size: 20, // px
                    face: 'arial',
                    vadjust: 1,
                    mod: 'bold'
                  },
                  ital: {
                    color: '#fcfcfc',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'italic',
                  },
                  boldital: {
                    color: '#fcfcfc',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold italic'
                  },
                  mono: {
                    color: '#fcfcfc',
                    size: 15, // px
                    face: 'courier new',
                    vadjust: 2,
                    mod: ''
                  }
                },
                length: 1000,
                width: 2,
                selectionWidth: 3

              },
              physics: 
              {
                // Even though it's disabled the options still apply to network.stabilize().
                barnesHut: { gravitationalConstant: -4000 },
                enabled: true,
                stabilization: true,
                solver: "repulsion",
                repulsion: {
                  centralGravity: 0.0,
                  nodeDistance: 800, // Put more distance between the nodes.
                  springConstant: 0.1
                },
              },
              interaction: { hover: true },
              manipulation: {
                enabled: false,
              },
            };

            var nodelist = data.nodes;
            for (idx in node_list) {
              if (node_list[idx].chapter1){
                var targetNode = find_nodeObj(node_list[idx].id);
                targetNode.hidden = false;
                targetNode.color = { "border": "#fa9511",  "background": "#fdd9ab" };
                targetNode.borderWidth = 5;
                targetNode.shapeProperties = {"useBorderWithImage" : true};
                if (targetNode.shape == "image") {
                  targetNode.size = 150;
                } 
                nodes.update([targetNode]);
                var items = find_toEdgeObj(node_list[idx].id);
                if (items.length!=0) {
                  for (idx in items) {
                    targetId = items[idx].to;
                    var targetNode2 = find_nodeObj(targetId);
                    if (targetNode2.chapter1) {
                      items[idx].color = "#fa9511";
                      items[idx].width = 20;
                      edges.update(items[idx]);
                    }
                    targetNode2.hidden = false;
                    nodes.update([targetNode2]);
                  }
                }
              }
              if (idx == 0) {
                var targetNode = find_nodeObj(node_list[idx].id);
                targetNode.color = { "border": "#C788E6",  "background": "#D19DEA" };
                nodes.update([targetNode]);
              }
            }

            network = new vis.Network(container, data, options);
            network.on("showPopup", function (params) {
              document.addEventListener('click', function (e) {
                if (e.ctrlKey) {
                  var node_list = data.nodes;
                  for (idx in node_list) {
                    if (node_list[idx].id == params) {
                      // open url in 'title' attribute 
                      window.open(node_list[idx].title);
                    }
                  }
                  return;
                }
              });

            });
            network.on("hoverNode", function (params) {
              // network.setOptions({edges:{color:"black"}});
              // options[edges] = { color: 'black'};
            });

            network.on("click", function (params) {
              const clickedNode = find_nodeObj(params.nodes[0]);
              var items = find_toEdgeObj(params.nodes[0]);
              if (items.length != 0) {
                targetId = items[0].to;
                console.log(items[0].from)
                var targetNode = find_nodeObj(targetId);
                if (targetNode.hidden) {   // case 1: 확장되지 않은 노드 -> 확장시킨다.
                  for (idx in items) {
                    targetId = items[idx].to; // 그 노드의 id 찾기
                    var targetNode = find_nodeObj(targetId);
                    targetNode.hidden = false;
                    nodes.update([targetNode]);
                  }
                }
                else {
                  // case 2: 확장된 노드 -> 노드와 관련된 모든 하위 노드를 닫는다.
                  recursiveClosingNode(params.nodes[0]);
                }
              }

              function recursiveClosingNode(nodeId) {
                var items = find_toEdgeObj(nodeId);
                if (items.length != 0) {
                  for (idx in items) {
                    targetId = items[idx].to; // 그 노드의 id 찾기
                    var targetNode = find_nodeObj(targetId);
                    recursiveClosingNode(targetId);     // recursive function 위치는 여기에!!
                    targetNode.hidden = true;
                    nodes.update([targetNode]);
                  }
                }
                else {
                  return;
                }
              }
            });
          });
      }

      window.addEventListener("load", () => {
        draw();
      });

      document.getElementById("background_change").addEventListener("click",() => {
        console.log(parentContainer.style.backgroundColor)
        if (parentContainer.style.backgroundColor == "rgb(241, 235, 210)" ){
          parentContainer.style.backgroundColor = 'rgb(223, 239, 239)';
        }
        else{
          parentContainer.style.backgroundColor = 'rgb(241, 235, 210)';
        }
      })



    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script>
  const answer = function(bot_answer){
    var answer = bot_answer;
    if(answer.length > 0){
      $('.chat-list').append(`
        <li class="chatbot">
            <span class="material-icons" style="color:black;">smart_toy</span>
            ${answer}
        </li>
        `)
      $('#question-text').val('')     // 텍스트 입력창 내용 지우기
    }
    $(".chat-thread").animate({ scrollTop: $('.chat-list').height() }, 1000);
  }

  const question  = function() {
      const question = $('#question-text').val();
      console.log(question)
      if (question.length > 0) {
        $('.chat-list').append(`
          <li class="me">
            <span class="material-icons" style="color:black;">face</span>
            ${question}
          </li>
        `)
        $(".chat-thread").animate({scrollTop: $('.chat-list').height()}, 1000);
      
        $.ajax({
        type: 'POST',
        async: false,                              
        url: '/get_answer',
        data: {
          'question_id': question
        },
        dataType: 'text',
        success: function (result) {
          console.log(result);
          answer(result)
        },
        error: function (xtr, status, error) {
          answer('알 수 없는 단어입니다.')
        }

      });

      }

    }


  $('#btn-question').on({
  click: question,
  // mouseup: question,
  keyup:function(key) {
    if(key.keyCode==13) {
      question()
    }
  }
  });

  $('#question-text').on({
  keyup:function(key) {
    if(key.keyCode==13) {
      question()
    }
  }
  });


</script>
</body>

</html>