<!DOCTYPE html>
<html lang="en">

<head>

  <style>
  </style>

  <title>Network</title>
  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>

<!-- 버튼 -->
  <div id="btn_group">
    <button id="test_btn1">자주 묻는 질문</button>
    <button onclick="video_start()" id="test_btn2">수어 해설</button>
    <button id="background_change">배경색 변경</button>
  </div>

  <div id="mycontainer" style="width:100%; height:92%; float:left; background-color: rgb(241, 235, 210);">
    <div id="mynetwork"></div>    
  </div>

    <script type="text/javascript">
      var DIR = "img/soft-scraps-icons/";
      
      var nodes = null;
      var edges = null;
      var network = null;
      
      var parentContainer = document.getElementById("mycontainer");
            
      function video_start() {
        document.getElementById("video_obj").play();
      }

      // Called when the Visualization API is loaded.
      function draw() {
        var DATA = "../static/datasets/배재.json";
        fetch(DATA)
          .then((res) => res.json())
          .then((res) => {
            var node_list = res.nodes;
            var edge_list = res.links;
            nodes = new vis.DataSet(node_list);
            edges = new vis.DataSet(edge_list);

            function find_nodeObj(nodeId) {
              return node_list.find(x => x.id == nodeId);   // 인접한 노드 찾기
            }
            function find_toEdgeObj(fromid) {
              return edge_list.filter(x => x.from == fromid);
            }

            var container = document.getElementById("mynetwork");
            var data = {
              nodes: nodes,
              edges: edges,
            };
            var options = {
              nodes: {
                borderWidth: 2,
                size: 100,
                color: {
                  border: "#a09991",
                  background: "#eae8e6",
                  highlight: {
                    border: '#d6acd6',
                    background: '#eae8e6'
                    
                  },
                  hover: {
                    border: '#efdfef',
                    background: '#efdfef'
                  },
                },
                
                font: { 
                  color: "#000000",
                  size: 100, 
                  // multi:true,
                  
                },             
              },
              edges: {
                value: 1000,
                arrows: {
                  to: {
                    enabled: false,
                    scaleFactor: 1,
                    type: "arrow"
                  }
                },
                endPointOffset: {
                  from: 0,
                  to: 0
                },
                color: {
                  color: '#848484',
                  highlight: '#e7cee7',
                  hover: '#debdde',
                  inherit: 'from',
                  opacity: 1.0
                }, 
                font: {
                  multi:true,
                  color: '#fcfcfc',
                  size: 14, // px
                  face: 'arial',
                  background: 'none',
                  strokeWidth: 1, // px
                  strokeColor: '#ffffff',
                  align: 'horizontal',
                  vadjust: 0,
                  bold: {
                    color: '#fcfcfc',
                    size: 20, // px
                    face: 'arial',
                    vadjust: 1,
                    mod: 'bold'
                  },
                  ital: {
                    color: '#fcfcfc',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'italic',
                  },
                  boldital: {
                    color: '#fcfcfc',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold italic'
                  },
                  mono: {
                    color: '#fcfcfc',
                    size: 15, // px
                    face: 'courier new',
                    vadjust: 2,
                    mod: ''
                  }
                },
                length: 1000,
                width: 2,
                selectionWidth: 3

              },
              physics: 
              {
                // Even though it's disabled the options still apply to network.stabilize().
                barnesHut: { gravitationalConstant: -4000 },
                enabled: true,
                stabilization: true,
                solver: "repulsion",
                repulsion: {
                  centralGravity: 0.0,
                  nodeDistance: 800, // Put more distance between the nodes.
                  springConstant: 0.1
                },
              },
              interaction: { hover: true },
              manipulation: {
                enabled: false,
              },
            };
            network = new vis.Network(container, data, options);
            network.on("showPopup", function (params) {
              document.addEventListener('click', function (e) {
                if (e.ctrlKey) {
                  var node_list = data.nodes;
                  for (idx in node_list) {
                    if (node_list[idx].id == params) {
                      // open url in 'title' attribute 
                      window.open(node_list[idx].title);
                    }
                  }
                  return;
                }
              });

            });
            network.on("hoverNode", function (params) {
              // network.setOptions({edges:{color:"black"}});
              // options[edges] = { color: 'black'};
            });

            network.on("click", function (params) {
              const clickedNode = find_nodeObj(params.nodes[0]);
              var items = find_toEdgeObj(params.nodes[0]);
              if (items.length != 0) {
                targetId = items[0].to;
                console.log(items[0].from)
                var targetNode = find_nodeObj(targetId);
                if (targetNode.hidden) {   // case 1: 확장되지 않은 노드 -> 확장시킨다.
                  for (idx in items) {
                    targetId = items[idx].to; // 그 노드의 id 찾기
                    var targetNode = find_nodeObj(targetId);
                    targetNode.hidden = false;
                    nodes.update([targetNode]);
                  }
                }
                else {
                  // case 2: 확장된 노드 -> 노드와 관련된 모든 하위 노드를 닫는다.
                  recursiveClosingNode(params.nodes[0]);
                }
              }

              function recursiveClosingNode(nodeId) {
                var items = find_toEdgeObj(nodeId);
                if (items.length != 0) {
                  for (idx in items) {
                    targetId = items[idx].to; // 그 노드의 id 찾기
                    var targetNode = find_nodeObj(targetId);
                    recursiveClosingNode(targetId);     // recursive function 위치는 여기에!!
                    targetNode.hidden = true;
                    nodes.update([targetNode]);
                  }
                }
                else {
                  return;
                }
              }
            });
          });
      }

      window.addEventListener("load", () => {
        draw();
      });

      document.getElementById("background_change").addEventListener("click",() => {
        console.log(parentContainer.style.backgroundColor)
        if (parentContainer.style.backgroundColor == "rgb(241, 235, 210)"){
          parentContainer.style.backgroundColor = 'rgb(223, 239, 239)';
        }
        else{
          parentContainer.style.backgroundColor = 'rgb(241, 235, 210)';
        }
      })
    </script>

</body>
<!-- <div style="width:50%; height:92%; float:right; background-color: #dbedee;">
  <video height=100% width=100% src="../static/imgs/no.mp4" id="video_obj" type="video/quicktime" controls></video>
</div> -->

</html>